@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap");
@import url(header.css);
@import url(footer.css);
@import url(responsive-phone.css);

body {
  background-color: #020021;
}

body * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

body main {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

main img{
  width: 100%;
  display:flex;
}

#music {
  width: 400px;
}

h1 {
  margin-top: 30px;
  Font-size: 55px;
  line-height: 1;
}

p {
  color: dimgrey;
  margin: 20px 0;
}

button {
  background-color: #00f482;
  font-weight: 700;
  border-style: none;
  border-radius: 50px;
  padding: 10px 50px;
}

.btn-buy {
  background-color: white;
  color: black;
  padding: 10px 20px;
}

